extends layouts/admin

append js
  script(src="/javascripts/lib/require/require-jquery.js", data-main="/javascripts/app/admin/usersDeliveryscheduleInit.js")
  
block inner
  input#account-id(type="hidden", value="#{locals.accountId}")
  .row-fluid
    h3= __("Deliveries")
  .row-fluid(data-bind="with: dispatch")
    include lists/deliveries
  
