.row
  h3.text12.blue #{__("Hi")} 
    span.text12.blue.bold #{user.name.first}, 
    a.text10.blue= __("Not you?")
.row
  .well
    ul.nav.navlist
      li.active
        a= __("Your Info")
      li.divider