h2= __("Guess what?")

p= __("Your box of {0} will arrive at your place later today between {1} and {2}.", locals.products, locals.from, locals.to)

p= __("Happy to serve you food, as always!")

p 
  a(href="http://www.farmshar.es", target="_blank") FarmShares 
  | #{__("Team")}