h2= __("Hey there, {0}", locals.clientname)

p= __("We hope everything went well with your food delivery today. Please let us know how we did.")

a(style="color:green", href="http://www.farmshares.com")= __("Went fine! - Take a survey for $5 in discount credit!")
br
a(style="color:red", href="http://www.farmshares.com")= __("Something went wrong")