h2= __("Hi {0}!", locals.couriername)

p= __("We've got {0} deliveries lined up for you to bring to life this {1} between {2} and {3}. If you want to confirm your participation for all or some of these clients in your area, please don't hesitate to hit this link:", locals.deliveryamount,locals.date,locals.from,locals.to)

p
  a(href="http://www.farmshares.com/courier/participate")= __("Get some deliveries!")