extends ../../../views/layouts/base

block title
  title FS Courier Dashboard
    
block js
  include ../../../views/partials/requirejsconfig

block css
  != CDN('/stylesheets/app/admin.css')
  != CDN('/stylesheets/vendor/jquery.fileupload-ui.css')

block nav
  include ../partials/navbar

block footer
  include ../partials/footer
