strong(data-bind="text: $parent.fullname")
br
// ko text: $parent.email
// /ko
br
// ko text: phone
// /ko
br
// ko text: address
// /ko
br
// ko text: city.name
// /ko
//- br
//- // ko text: city.zip
//- // /ko
br
// ko text: country.name
// /ko
br
// ko text: state.name
// /ko