- var header = "http:"+ CDN("/images/confirmation-email-header.png", { "raw" : true }).replace(/\.js\r*\n*$/, '').trim();
!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    block title
      title Base Template    

  body(style="max-width:611px;")
    div(style="background-color: rgb(255, 255, 255) !important;color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 837px;line-height: 20px;margin-bottom: -60px;margin-left: 0px;margin-right: 0px;margin-top: 0px;min-height: 100%;")
      div
        img(src="#{header}")
      div(style="margin-left:20px;margin-right:20px")
        block content
    div(style="color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 60px;line-height: 20px;")
      div(style="background-color: rgb(59, 59, 59);color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 60px;line-height: 20px;")
        div(style="color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 100px;line-height: 20px;")
          include ../partials/footer