.navbar
  .navbar-inner
    if user
      a.brand(href="/logout")
        span.label= __("Logout")
      ul.nav
        li.active
          a(href="/farm/")= __("Home")
      span(style="float:right;")
        label(for="farms_select")= __("Farm")
        select(data-bind="options: navigation.farmer.farms, optionsText: 'name', value: navigation.selectedFarm")
    else
      a.brand(href="/login")
        span.label= __("Login")
