.content
  margin-top 120px
.thumb
  width 40px
  height 40px
  margin-right 5px
.divider
  margin 5px
.item-description
.item-price
.item-quantity
.item-subscription
.item-total
.item-remove
.item-description-header
.item-price-header
.item-quantity-header
.item-subscription-header
.item-total-header
.item-remove-header
  display inline
  position absolute
  
hr.double
  height 1px
  border-top 1px solid #CCC
  border-bottom 1px solid #CCC
hr.simple
  height 1px
  background-color #CCC
  
.item-price
.item-total
.item-remove
  margin-top 8px
  
.item-quantity
.item-subscription
  margin-top 5px
  
.item-price
.item-price-header
  left 45%
.item-quantity
.item-quantity-header
  left 57%
.item-subscription
.item-subscription-header
  left 67%
.item-total
.item-total-header
  left 87%
.item-remove
.item-remove-header
  left 98%
  
.item-description > span
  vertical-align middle
  
.headerRow
  min-height 20px
  position relative
  margin 0px 2px
  padding 0px 5px

.itemRow
  min-height 40px
  position relative
  padding 5px
  margin 2px
  border solid 1px #999
  background #eeeeee /* Old browsers */
  background -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%) /* FF3.6+ */
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)) /* Chrome,Safari4+ */
  background -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%) /* Opera 11.10+ */
  background -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%) /* IE10+ */
  background linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%) /* W3C */
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px