.header
  background-image: url("/images/header-blank.png")
  background-repeat: no-repeat
  min-height:108px
  
 .repeater
    background-image: url("/images/header-repeat.png")
    background-repeat: repeat-x
    position: absolute
    left:1026px
    right:0px
    top:0px
    min-height:108px
  
.navbar
  margin-bottom:0
  
.logo
  position absolute
  top 25px
  left 75px
  
.heading
  display: block
  float: left
  padding: 10px 20px 10px
  margin-left: -20px
  
.section
  background-image: url("/images/shadowline.png")
  background-repeat: no-repeat
  background-position: center bottom
  padding-bottom: 14px

.section-content
  padding: 19px 29px 29px
  background-color: #fff
  border: 1px solid #e5e5e5  
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05)
  box-shadow: 0 1px 2px rgba(0,0,0,.05)

.dark-row
  background-color: #c6c8ce
.item-quantity
.item-title
.item-total
  display: inline
.simpleCart_grandTotal
.item-total
  float: right
  
.payment-methods
  margin-bottom: 15px
  background-color: #e6e6e6
  border: 1px solid #e0e0e0
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  div
    min-height:60px
    min-width:160px
  input
    position:absolute    
    margin:0
    /*hide the radio button*/
    -moz-opacity:0
    -khtml-opacity:0
    opacity:0
    cursor:pointer

  input[type="radio"]:checked + span
    visibility:visible 
  
  .radio input[type="radio"]
    margin-left:0px

.btn-bbva
  margin-left 10px
  display none !important
  input  
    width:160px
    height:60px
    margin: 0px 0px !important

  span
    position:absolute
    
    width:160px
    height:60px    
    background-image:url("/images/buttons/puntopagos/pago_bbva_off.gif")
    background-repeat:no-repeat
    background-color:transparent
    border:0pt none
    margin: 0px 0px

  input[type="radio"] + span /*the span element that immediately follow the radio button */
    visibility:hidden; 
    background-image:url("/images/buttons/puntopagos/pago_bbva_on.gif")

.btn-webpay
  input  
    width:160px
    height:60px
    margin: 0px 0px !important

  span
    position:absolute
    
    width:160px
    height:60px    
    background-image:url("/images/buttons/puntopagos/pago_webpay_off.gif")
    background-repeat:no-repeat
    background-color:transparent
    border:0pt none
    margin: 0px 0px

  input[type="radio"] + span /*the span element that immediately follow the radio button */
    visibility:hidden; 
    background-image:url("/images/buttons/puntopagos/pago_webpay_on.gif")

.btn-presto
  input  
    width:160px
    height:60px
    margin: 0px 0px !important

  span
    position:absolute
    
    width:160px
    height:60px    
    background-image:url("/images/buttons/puntopagos/pago_presto_off.gif")
    background-repeat:no-repeat
    background-color:transparent
    border:0pt none
    margin: 0px 0px

  input[type="radio"] + span /*the span element that immediately follow the radio button */
    visibility:hidden; 
    background-image:url("/images/buttons/puntopagos/pago_presto_on.gif")

.btn-tbanc
  input  
    width:160px
    height:60px
    margin: 0px 0px !important

  span
    position:absolute
    
    width:160px
    height:60px    
    background-image:url("/images/buttons/puntopagos/pago_tbanc_off.gif")
    background-repeat:no-repeat
    background-color:transparent
    border:0pt none
    margin: 0px 0px

  input[type="radio"] + span /*the span element that immediately follow the radio button */
    visibility:hidden; 
    background-image:url("/images/buttons/puntopagos/pago_tbanc_on.gif")

.btn-bancochile
  input  
    width:160px
    height:60px
    margin: 0px 0px !important

  span
    position:absolute
    
    width:160px
    height:60px    
    background-image:url("/images/buttons/puntopagos/pago_bancochile_off.gif")
    background-repeat:no-repeat
    background-color:transparent
    border:0pt none
    margin: 0px 0px

  input[type="radio"] + span /*the span element that immediately follow the radio button */
    visibility:hidden; 
    background-image:url("/images/buttons/puntopagos/pago_bancochile_on.gif")
    
.btn-bci
  input  
    width:160px
    height:60px
    margin: 0px 0px !important

  span
    position:absolute
    
    width:160px
    height:60px    
    background-image:url("/images/buttons/puntopagos/pago_bci_off.gif")
    background-repeat:no-repeat
    background-color:transparent
    border:0pt none
    margin: 0px 0px

  input[type="radio"] + span /*the span element that immediately follow the radio button */
    visibility:hidden; 
    background-image:url("/images/buttons/puntopagos/pago_bci_on.gif")

.btn-bestado
  input  
    width:160px
    height:60px
    margin: 0px 0px !important

  span
    position:absolute
    
    width:160px
    height:60px    
    background-image:url("/images/buttons/puntopagos/pago_bestado_off.gif")
    background-repeat:no-repeat
    background-color:transparent
    border:0pt none
    margin: 0px 0px

  input[type="radio"] + span /*the span element that immediately follow the radio button */
    visibility:hidden; 
    background-image:url("/images/buttons/puntopagos/pago_bestado_on.gif")
    
.btn-ripley
  display none !important
  
  input  
    width:160px
    height:60px
    margin: 0px 0px !important

  span
    position:absolute
    
    width:160px
    height:60px    
    background-image:url("/images/buttons/puntopagos/pago_ripley_off.gif")
    background-repeat:no-repeat
    background-color:transparent
    border:0pt none
    margin: 0px 0px

  input[type="radio"] + span /*the span element that immediately follow the radio button */
    visibility:hidden; 
    background-image:url("/images/buttons/puntopagos/pago_ripley_on.gif")