h4.muted= __("NEW CUSTOMER?")
a.btn.btn-large.btn-success(href="#registerModal", role="button", data-toggle="modal")
  span= __("Sign up with your email") 
#registerModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="registerModalLabel", aria-hidden="true")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
    h3#registerModalLabel= __("Create your Account")
  .modal-body
    include register
