form(action="/login",method="POST")
  fieldset
    label.muted= __("USER")
    input.input-block-level(type="text", name="email",id="email")
    label.muted= __("PASSWORD")
    input.input-block-level(type="password", name="password",id="password")
    button.btn.btn-large.btn-success(type="submit")
      span= __("Secure Login")
      i.icon-lock.icon-white
    a.help-block.hide(href="/recover")= __("Forgot your password?")