.content
  margin-top: 120px

.row-fluid#eat
  max-width: 940px
  margin-left: 30px
  margin-top: 20px
  z-index: 10

  .simpleCart_shelfItem
    position relative
    
    .alert
      position absolute
      top 60%
      left 79%
  
    .item_farm
    .item_name
    .item_skuid
    .item_shareid
    .item_sharename
    .item_shareprice
    .item_sharecurrency
    .item_shareunit
    .item_shareamount
    .item_subscriptionid
    .item_subscriptionname
    .item_subscriptiondeliveries
    .item_subscriptiondiscount
      display: none
  

  // Drop Down 
  .Text11 
    font-family: Geneva, sans-serif
    color:#333333
    font-size:11px
    line-height:18px
  select
    width:100%

  // Chart cateogies, Quantity, Price, etc 
  .label-info
    width:100%
    
  .TitleWhite12 
    font-family: Geneva, sans-serif
    color:#FFFFFF
    font-size:11px

  // Product Notifications 
  .TextOrgange14 
    font-family: Lucida Grande, sans-serif
    color:#cc6600
    font-size:14px
    line-height:24px


  .TextBlue14 
    font-family: Lucida Grande, sans-serif
    color:#006699
    font-size:14px
    line-height:24px
.modal
  background-color transparent
  border: none
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
.row-fluid#learn
  max-width: 940px
  margin-left: 29px
  margin-top: 30px  



  // FARM PICTURES 
  .ImageViewer
    background: url(/images/ImageViewerbgd.jpg) no-repeat center
    width:895px
    height:456px

    .thumbnails
      padding: 17px 30px 17px 17px

    .preview
      background-color: #FFFFFF
      width:692px
      height:420px

#meet
  background-color: #D1D5D8
  padding: 30px 0
	
	.row-fluid
	  margin-left: 30px

.media.simpleCart_shelfItem
  background-color: #CECDC9

#eat
  li.media.simpleCart_shelfItem
	  padding: 17px;
  