.navbar-fixed-top  
  background-image: url("/images/header-blank.png"),url("/images/header-repeat.png")
  background-repeat: no-repeat, repeat-x
  background-position: 0 0, 1026px 0px 
  min-height:108px
  .navbar
    margin-bottom:0px

    .nav
      > li > a
        padding: 8px 12px 8px 12px
        text-shadow: none
        color: #ffffff
    
  .navbar-heading
    margin-top: 3px
    border: 0pt none
    min-height: 32px
    max-height: 32px !important
    padding-right:20px
    padding-left:20px
    background-color: transparent    
    
    .nav-tabs
      border: 0pt none
      padding-left:510px

      li
        a
          text-shadow: none          
          
          &:hover
            border: 0pt none
      li.tab-green
        background-image: url("/images/buttons/tab1.png")
        background-repeat: no-repeat
        width:103px
        position: relative
        z-index: 3
        
        &:hover
          background-image: url("/images/buttons/tab1-1.png")

      li.tab-blue
        background-image: url("/images/buttons/tab2.png")
        background-repeat: no-repeat
        width:107px
        position: relative
        z-index: 2
        margin-left: -20px

        &:hover
          background-image: url("/images/buttons/tab2-1.png")
          > a > span
            color: #FFFFFF !important

      li.tab-blue-large
        background-image: url("/images/buttons/tab3.png")
        background-repeat: no-repeat
        width:211px
        position: relative
        z-index: 1
        margin-left: -20px

        &:hover
          background-image: url("/images/buttons/tab3-1.png")
          > a > span
            color: #FFFFFF !important
        
  .navbar-inner
    margin-top:10px
    background: transparent
    filter: none
    border: 0pt none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    padding-right 20px

    .brand
      top:25px
      left:75px
      position:absolute
      padding: 0
      margin: 0
      z-index: 10

    .nav
      padding-left:320px
    .navbar-search
      padding-left:78px
    .nav-pills
      li
        a
          text-shadow: none
          &:hover
            color:  #ccc
