body {
  background-image: url("/images/bg.png");
}
.media-object .ImageSb1 {
  width: 200px !important;
  height: 150px !important;
  border: solid 1px #366 !important;
}
.ImageM {
  width: 255px;
  height: 170px;
}
.navmenu {
  font-family: Helvetica, sans-serif;
  color: #fff !important;
  font-size: 13.5px;
  text-transform: uppercase;
  font-weight: bold;
}
.menufooter {
  font-family: Helvetica, sans-serif !important;
  color: #878787 !important;
  font-size: 11px;
}
.menufooterblue {
  font-family: Helvetica, sans-serif;
  color: #0d79f2;
  font-size: 11px;
}
.popup {
  display: none;
}
/* ICONS */
i.icon-cart {
  background-image: url("/images/buttons/blue-cart.png");
  background-position: 0pt;
  width: 19px;
  height: 15px;
  padding-right: 5px;
}
a:hover i.icon-cart {
  background-image: url("/images/buttons/white-cart.png");
}
/* BUTTONS */
.btn-search {
  background-image: url("/images/buttons/b-search.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0pt none;
  width: 28px;
  height: 24px;
}
.btn-facebook {
  margin: 5px;
  display: inline-block;
  height: 64px;
  width: 64px;
  background: #3b5998;
  background-image: url("/images/fb.png");
/* fallback */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, rgba(66,66,66,0.6)), color-stop(0.58, rgba(255,255,255,0))), url("/images/fb.png");
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/fb.png");
/* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/fb.png");
/* FF3.6+ */
  background-image: -ms-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/fb.png");
/* IE10 */
  background-image: -o-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/fb.png");
/* Opera 11.10+ */
  background-image: linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/fb.png");
/* W3C */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  -moz-box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  border: 0 none;
}
.btn-facebook:hover {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.15, rgba(99,99,99,0.6)), color-stop(0.58, rgba(255,255,255,0.1))), url("/images/fb.png");
  background-image: -webkit-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/fb.png");
  background-image: -moz-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/fb.png");
  background-image: -ms-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/fb.png");
  background-image: -o-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/fb.png");
  background-image: linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/fb.png");
}
.btn-twitter {
  margin: 5px;
  display: inline-block;
  height: 64px;
  width: 64px;
  background: #00aced;
  background-image: url("/images/twitter.png");
/* fallback */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, rgba(66,66,66,0.6)), color-stop(0.58, rgba(255,255,255,0))), url("/images/twitter.png");
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/twitter.png");
/* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/twitter.png");
/* FF3.6+ */
  background-image: -ms-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/twitter.png");
/* IE10 */
  background-image: -o-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/twitter.png");
/* Opera 11.10+ */
  background-image: linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/twitter.png");
/* W3C */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  -moz-box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  border: 0 none;
}
.btn-twitter:hover {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.15, rgba(99,99,99,0.6)), color-stop(0.58, rgba(255,255,255,0.1))), url("/images/twitter.png");
  background-image: -webkit-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/twitter.png");
  background-image: -moz-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/twitter.png");
  background-image: -ms-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/twitter.png");
  background-image: -o-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/twitter.png");
  background-image: linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/twitter.png");
}
.btn-gplus {
  margin: 5px;
  display: inline-block;
  height: 64px;
  width: 64px;
  background: #d34836;
  background-image: url("/images/gplus.png");
/* fallback */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, rgba(66,66,66,0.6)), color-stop(0.58, rgba(255,255,255,0))), url("/images/gplus.png");
/* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/gplus.png");
/* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/gplus.png");
/* FF3.6+ */
  background-image: -ms-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/gplus.png");
/* IE10 */
  background-image: -o-linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/gplus.png");
/* Opera 11.10+ */
  background-image: linear-gradient(bottom, rgba(66,66,66,0.6) 15%, rgba(255,255,255,0) 58%), url("/images/gplus.png");
/* W3C */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  -moz-box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  box-shadow: 0px 0px 10px rgba(50,50,50,0.8);
  border: 0 none;
}
.btn-gplus:hover {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, color-stop(0.15, rgba(99,99,99,0.6)), color-stop(0.58, rgba(255,255,255,0.1))), url("/images/gplus.png");
  background-image: -webkit-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/gplus.png");
  background-image: -moz-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/gplus.png");
  background-image: -ms-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/gplus.png");
  background-image: -o-linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/gplus.png");
  background-image: linear-gradient(bottom, rgba(99,99,99,0.6) 15%, rgba(255,255,255,0.1) 58%), url("/images/gplus.png");
}
.btn-muted {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #bfbfbf;
  *background-color: #aaa;
  background-image: -moz-linear-gradient(top, #ccc, #aaa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#aaa));
  background-image: -webkit-linear-gradient(top, #ccc, #aaa);
  background-image: -o-linear-gradient(top, #ccc, #aaa);
  background-image: linear-gradient(to bottom, #ccc, #aaa);
  background-repeat: repeat-x;
  border-color: #aaa #aaa #888;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-muted:hover,
.btn-muted:focus,
.btn-muted:active,
.btn-muted.active,
.btn-muted.disabled,
.btn-muted[disabled] {
  color: #fff;
  background-color: #9d9d9d;
  *background-color: #151515;
}
.btn-muted:active,
.btn-muted.active {
  background-color: #808080;
}
